.App {
  background-color: #282c34;
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#root {
  display: flex;
  justify-content: center;
}

.store {
  border: 1px solid black;
  background-color: whitesmoke;
  width: 33%;
  height: calc(100vh - 2px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: auto;
}

.item-container {
  background-color: white;
  width: 70%;
  box-shadow: 1px 3px 2px gray;
  margin-bottom: 10px;
  border-radius: 5%;
  padding-bottom: 2%;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn.addToCart {
  margin-right: 10px;
  border-radius: 10px;
  background: none;
  box-shadow: 0 0 2px gray;
}

.cart-items {
  width: 90%;
}

.cart-item {
  flex-basis: 25%;
}

.cart-item-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn.remove-item, .btn.addToFavorites {
  background: none;
  border: none;
  font-size: 25px;
}

.btn {
  outline: none;
}

.btn:hover, .store-logo:hover {
  cursor: pointer;
}

.favorite-item-container {
  justify-content: space-between;
  display: flex;
  align-items: center;
}